.outer-nav {
  background-color: var(--bg-primary);
}

.nav {
  margin: auto;
  max-width: 1500px;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--text-dark);
}

.nav > a {
  color: var(--text-dark);
  text-decoration: none;
}

.btn {
  text-decoration: none;
  color: var(--text-dark);
  padding: 0.5rem 1rem;
  background-color: var(--bg-light);
  outline: none;
  border: none;
  border-radius: 6px;
  transition: 0.1s;
  margin: 0.5rem 2px 2px;
  font-size: 2rem;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--bg-light-hover);
}

.code-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(100% - 4px);
  font-size: 3rem;
  padding: 0.5rem;
  text-align: center;
  max-width: 500px;
  margin: 4px;
  outline: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--bg-gray);
}

.code-input:focus {
  border: 1px solid var(--bg-primary);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.move-down {
  margin-top: 5rem !important;
}

.form-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, white 10%, var(--bg-primary));
}

.text-form {
  align-items: flex-start;
  border-radius: 6px;
  padding: 1rem;
  border: 2px solid var(--bg-primary);
  max-width: 500px;
  width: 100%;
  margin: 5rem 4px 4px;
  background-color: white;
}

.device-found-form .text-form {
  margin-top: 2rem !important;
}

.device-found-form .device-found-instructions {
  padding: 0 2rem;
  width: 100%;
  margin: 0 4px;
  font-size: 1rem;
  text-align: center;
}

.text-form h3 {
  margin-left: 4px;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(100% - 4px);
  font-size: 2rem;
  padding: 0.5rem;
  max-width: 500;
  margin: 4px;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--bg-gray);
}

.form-container {
  background-color: white;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}

.form-container a {
  color: var(--text-link);
}

.form-container h1 {
  font-size: 2rem;
  text-align: center;
}

.text-form h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.error-text {
  color: var(--text-error);
  margin: 0.2rem 4px 0.5rem;
  font-size: 1.5rem;
}

.error-input {
  border: 1px solid var(--bg-error);
}

.form-input:focus {
  border: 2px solid var(--bg-primary);
}

.submit-btn {
  width: 100%;
}

.text-lg {
  font-size: 3rem;
}

.text-md {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

textarea.form-input {
  resize: none;
  white-space: pre-wrap;
}

table {
  max-width: 500px;
}

tr {
  margin: 1rem 0;
}

td {
  width: 100%;
  padding: 0.5rem;
}

td.key {
  font-weight: bold;
}

.info {
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.2);
}

.info h3 {
  text-align: left;
  margin-left: 0.5rem;
}

.add-device-form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-device-form .form-input {
  margin: 0;
  width: 60%;
}

.add-device-form .btn {
  margin: 0;
}

.device-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-left: 0.5rem;
  height: 3rem;
}

.device-container > p {
  flex-grow: 1;
  text-align: left;
  width: 100%;
}

.device-container > .btn,
.add-device-form > .btn {
  font-size: 0.8rem;
}

.hidden {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .form-input {
    font-size: 1rem;
  }

  .text-form h3 {
    font-size: 0.8rem;
  }

  .error-text {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem;
  }

  .device-found-form .device-found-instructions {
    font-size: 0.8rem;
    text-align: left;
  }

  .add-device-form .form-input {
    width: 50%;
    height: 2rem;
  }
}
