@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --text-dark: hsl(30, 100%, 3%);
  --text-light: hsl(30, 100%, 90%);
  --text-error: hsl(0, 89%, 36%);
  --bg-primary: hsl(27, 100%, 50%);
  --bg-primary-hover: hsl(27, 100%, 45%);
  --bg-light: hsl(32, 100%, 60%);
  --bg-light-hover: hsl(32, 100%, 53%);
  --bg-gray: hsl(19, 8%, 60%);
  --bg-dark: hsl(32, 100%, 40%);
  --bg-error: hsl(0, 69%, 48%);
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
  .code-input {
    max-width: 800px !important;
  }
}
