<section class="nav">
  <h1>IFoundThePhone</h1>
  <section class="btns">
    {{#if isSignedIn}}
      <button class="btn" onclick="window.location.href='/logout'">
        Logout
      </button>
    {{else}}
      <a class="btn" href="/signup">
        Sign Up
      </a>
      <a class="btn" href="/login">
        Login
      </a>
    {{/if}}
  </section>
</section>